html, body {
  width: 100%;
  min-width: 1260px;
  font-family: "Arial", "sans-serif,思源黑體", "微軟正黑體";
}
.main {
  width: 100%;
  background-color: #000001;
  overflow: hidden;
}
.main section {
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
}
.main section .sec-title {
  width: 100%;
  /*height: 150px;*/
}
.main .sec1 {
  height: 447px;
  background: url(../image/bg-sec1.jpg) no-repeat center;
}
.main .sec1-1{
	height: 1000px;
	 background: url(../image/bg-sec1-1.jpg) no-repeat center;
}
.main .sec1-1 .sec-title {
  background: url(../image/title-sec1.png) no-repeat center;
  margin-bottom: 30px;
  margin-top: -40px;
  height: 100px;
}

.main .sec1-1 .sec1-img-c img{
	position: relative;
    left: 50%;
    top: -470px;
    z-index: 1;
    margin-left: -774px;
}
.main .sec1-1 .sec1-img-d img{
    position: relative;
    left: 50%;
    top: -686px;
    z-index: 1;
    margin-left: 531px;
}
.main .sec2 {
  height: 1000px;
  background: url(../image/bg-sec2.jpg) no-repeat center;
}
.main .sec2 .sec-title {
  background: url(../image/title-sec2.png) no-repeat center;
  margin-bottom: 30px;
  margin-top: -40px;
  height: 100px;
}
.main .sec2 .schedule-box {
  width: 1172px;
  height: 600px;
  background: url(../image/bg-schedule.png) no-repeat center;
  margin: 0 auto;
  padding-top: 47px;
  box-sizing: border-box;
}
.main .sec2 .sec2-review{
	position: relative;
    display: flex;
    left: 50%;
	margin-left: -525px;
}
.main .sec2 .sec2-review img{
	border-radius:20px;
}
.main .sec2 .sec2-review p{
	font-size: 2rem;
	color: #1c2239;
	font-weight: 600;
	line-height: 50px;
}
.main .sec2 .sec2-review span{
	font-size: 1.2rem;
	line-height: 30px;
	color: #1c2239;
}
.main .sec2 .sec2-img2{
	border-radius:20px;
	margin-left: 35px;
}
.main .sec2 .sec2-img-a img{
    position: relative;
    left: 50%;
    top: -78px;
    z-index: 1;
    margin-left: -841px;
}
.main .sec2 .sec2-img-b img{
position: relative;
    left: 50%;
    top: -706px;
    z-index: 1;
    margin-left: 631px;
}
.main .sec3 {
  height: 1355px;
  background: url(../image/bg-sec3.jpg) no-repeat center;
}
.main .sec3 .sec-title {
  background: url(../image/title-sec3.png) no-repeat center;
  margin-bottom: 50px;
  height: 100px;
  margin-top: -40px;
}
.main .sec3 .rule-box {
  width: 1150px;
  height: 1000px;
  background: url(../image/bg-rule.png) no-repeat center;
  margin: 0 auto;
  padding: 60px 73px 70px 50px;
  box-sizing: border-box;
}
.main .sec3 .rule-box .rule-con {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right:30px;
}
.main .sec3 .rule-box .rule-con p {
  font-size: 1rem;
  line-height: 30px;
  color: #b8b9b9;
}
.main .sec3 .rule-box .rule-con .rule-title {
  padding-left: 38px;
  font-size: 1.2rem;
  color: #654232;
  line-height: 32px;
  margin-bottom: 32px;
}
.main .sec3 .rule-box .rule-con .match-rule {
  font-size: 1.8rem;
  color: #502111;
  line-height: 45px;
  font-weight: 700;
  padding-left: 28px;
  border-left:10px solid #502111;
}
/*卷軸顏色*/
.main .sec3 .rule-box .rule-con::-webkit-scrollbar {
  width: 18px;
}
.main .sec3 .rule-box .rule-con::-webkit-scrollbar-track {
  background-color: #a98d6c;
  border-radius: 18px;
  border-radius: 0;
}
.main .sec3 .rule-box .rule-con::-webkit-scrollbar-thumb {
  background-color: #240e07;
  border: 3px solid rgba(0, 0, 0, 0);
}
.main .sec3 .rule-box .rule-con::-webkit-scrollbar-corner {
  display: none;
}

/*表格*/
table{
	width: 65%;
	text-align: center;
	color: #502111;
	margin-left:38px;
	margin-bottom: 45px;
	margin-top: -15px;
	font-size: 1rem
}

table .a{
	background-color: #240e07;
	color: #fff;
	font-weight: 500;
}
table tr td{
	border: 1px solid #5b4943;
	padding: 10px;
	line-height: 1.2rem;
}
text{
	font-weight: 700; 
	color: #c32f14;
	font-size: 1.1rem;
}
/*輪播*/
.swiper-container {
	width: 100%;
	height: 100%;
	background: #212842;
}
.swiper-slide {
	font-size: 18px;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
}
.parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 750px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.swiper-slide .title {
	font-size: 2.8rem;
    font-weight: 600;
    padding-right: 20px;
	margin-top: -555px;
}
.swiper-slide .text {
	font-size: 1.1rem;
    line-height: 1.8;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 30px;
    text-align: left;
    margin-top: 400px;
    margin-left: 390px;
    width: 390px;
}