html
  head
    meta(property="fb:app_id", cotent="1702235999950689")
    meta(property="og:type", cotent="article")
    meta(property="og:url", cotent="https://www.resound.global/cosplay/showcase/5fc76ddc75b38c03eec63809")
    meta(property="og:title", cotent="棋佈星羅")
    meta(property="og:image", cotent="https://www.resound.global/uploads/cosplay/pg/8c342837eba9fc2bc2b6f74a584d0381.jpg")
    meta(property="og:description", cotent='第五人格監管者 雕刻家 伽拉泰亞 金皮 checkmate\\n來到我伽拉泰亞的雕刻世界\\n棋佈星羅的棋盤，沒有人可以逃出我的手掌心')
    title= title
  body
    h1= message
    img(src="https://www.resound.global/uploads/cosplay/pg/8c342837eba9fc2bc2b6f74a584d0381.jpg" alt="hello")