doctype html
html
  head
    link(rel="icon" type="image/x-icon" href="/cosplay/image/icon-idv.png")
    meta(property="fb:app_id", cotent="1702235999950689")
    meta(property="og:type", cotent="article")
    meta(property='og:url', cotent='https://www.resound.global/cosplay/showcase/' + coserid)
    meta(property="og:title", cotent= title)
    meta(property="og:image", cotent= img)
    meta(property="og:description", cotent= desc)
    title= title
  body
    h5= title
    img(src= img alt= title)