doctype html
html
  head
    link(rel="icon" type="image/x-icon" href="/cosplay/image/icon-idv.png")
    meta(property="fb:app_id", content="1702235999950689")
    meta(property="og:type", content="article")
    meta(property='og:url', content='https://www.resound.global/cosplay/showcase/' + coserid)
    meta(property="og:title", content= title)
    meta(property="og:image", content= img)
    meta(property="og:description", content= desc)
    title= title
  body
    h5= title
    img(src= img alt= title)
    p= agent